body {
    background-color: #15181c; 
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #15181c; 
}
.logo img {
    height: 50px; 
}
.btn-search {
    padding: 8px;
    border: none;
    background-color: #333; 
    color: white;
    cursor: pointer;
    width: 40px; 
}
.btn-search img{
    height: 20px;
}
.btn {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    transition: background 0.2s;
}
.btn-films{
    background-color: #424242;
    padding: 10px 25px;
}
.btn-films:hover{
    background-color: #363636;
}
.search-bar:focus {
    border-color: #007bffd8; 
    outline: none; 
}
.btn-login {
    background-color: #424242;
    padding: 8px 50px;
}
.btn-login:hover {
    background-color: #363636;
}
.btn-signup {
    background-color: #007bffd8;
    padding: 8px 50px;
}
.btn-signup:hover {
    background-color: #0056b3;
}
.catalog {
    display: flex;
    gap: 5px;
}
.search-form {
    display: flex;
}
.col{
    color: #ffffffcc;
    margin-left: 1.5%;
    margin-right: 50%;
    margin-bottom: 4%;
    margin-top: 3%;
}
.btn-createacc{
    padding: 8px 30px;
    background-color: #007bffd8;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.btn-createacc:hover{
    background-color: #0056b3;
}






.container{
    width: 15%;
    height: 30%;
    background-color: #0000004d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    border-radius: 10px;

}
.btn-submit{
    background-color: #007bffd8;
    padding: 8px 50px;
}
.username,.password{
    margin-bottom: 5%;
}